
canvas {
    border: 1px solid #d3d3d3;
    background-color: rgb(10, 132, 232);
}

.container {
    text-align: center; /* Center-align the buttons */
  }
  

button {
    display: inline-block; /* Display buttons inline */
    width: 120px; /* Set width for each button */
    margin-right: 10px; /* Add margin between buttons */
    margin-top: 15px;
    padding: 10px; /* Add padding for button content */
    background-color: rgb(224, 224, 34);
    font-size: larger;
  }

  .restart {
    position: absolute; /* Position the button absolutely */
    bottom: 35px; /* Align the button to the bottom */
    right: 10px; /* Align the button to the right */
  }

  .home-button {
    position: absolute; /* Set home button to absolute positioning */
    bottom: 35px; /* 10px from the bottom */
    left: 25px; /* 10px from the left */
  }
  
  